definitions:
  dto.RegisterRequest:
    properties:
      age:
        type: integer
      email:
        type: string
      gender:
        type: string
      name:
        type: string
      password:
        type: string
      push_consent:
        type: boolean
      role:
        type: string
    type: object
  dto.RegisterResponse:
    properties:
      message:
        type: string
      success:
        type: string
      user_id:
        type: string
    type: object
info:
  contact: {}
  description: API for managing users, authentication, and clinic operations.
  title: Dental Clinic API
  version: "1.0"
paths:
  /api/register:
    post:
      consumes:
      - application/json
      description: Creates a new user account
      parameters:
      - description: User registration data
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.RegisterRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.RegisterResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dto.RegisterResponse'
      summary: Register new user
      tags:
      - Users
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
